<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1>
    Welcome to {{ title }}!
  </h1>
  <div style="margin-top: 5rem;">
    <app-fab-speed-dial>
      <button appFabToggle>
        <em class="fas fa-cog"></em>
      </button>

      <button appFabButton>
        <em class="fas fa-plus icon-action"></em>
      </button>

      <button appFabButton>
        <em class="fas fa-copy icon-action"></em>
      </button>

      <button appFabButton>
        <em class="fas fa-trash-alt icon-action"></em>
      </button>
    </app-fab-speed-dial>
  </div>
</div>
